
<th> Please sign in to proceed further</th>



  <p>
 <label>User Name:</label> <input [(ngModel)]="admin.id" type="text"/></p>
  <p> <label>Password:</label> <input [(ngModel)]="admin.paswd" type="text"/></p>
 <p> <button (click)="login()" >Save</button>

</p>


<!--<div>
  <label>Do you want to add new questions and choices?</label>
    <button (click)="forwardToAddQnsChoices()" >Delete</button>
</div>
<div>
  <label>Do you want to display all questions and Answers?</label>
    <button (click)="forwardTodisplayAllQnsAns()" >Display</button>
</div>
<div>
  <label>Do you want to update a question?</label>
    <button (click)="forwardToUpdateQn()" >UpdateQuestion</button>
</div>
<div>
  <label>Do you want to update a choice?</label>
    <button (click)="forwardToUpdateChoice()" >UpdateChoice</button>
</div>
<div>
  <label>Do you want to delete a question?</label>
    <button (click)="forwardToDeleteQn()" >Delete</button>
</div>-->
